pkgbase = playstar
	pkgdesc = A personal music player built with Godot 4 and C#
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/hayukimori/playstar
	arch = x86_64
	license = custom:BUSL-1.1
	depends = vlc
	depends = gtk3
	options = !strip
	source = https://github.com/hayukimori/playstar/releases/download/v1.2.0/PlayStar-linux-x64.tar.gz
	sha256sums = b9d41301290271533f72bdeeba0dccc8b28fb3046503d53faa343661712c80d7

pkgname = playstar
