pkgbase = playstar
	pkgdesc = A personal music player built with Godot 4 and C#
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/hayukimori/playstar
	arch = x86_64
	license = custom:BUSL-1.1
	depends = vlc
	depends = gtk3
	options = !strip
	source = https://github.com/hayukimori/playstar/releases/download/v1.0.0/PlayStar-linux-x64.tar.gz
	sha256sums = 5b91ebbb7581c7fb5f50450d33dcaf476c201708c6e7516c9a675910a625f532

pkgname = playstar
